<div class="menu-cont">
	<div class="menu-item projects"><span class="plus">+</span> PROJECTS</div>
	<div class="menu-item blogs"><span class="plus">+</span> STORIES</div>
</div>

<div class="lightbox projects">
	<div class="lightbox-x">X</div>
	<div class="lightbox-items-cont">
	<% data.projects.forEach(function(project, i) { %>
		<% if (project.type == "project") { %>
			<div class="nav-item project <% if (i == 0) { %>active<% } %>" data-id="<%- project.id %>" id="<%- project.id %>-nav">
				<div class="button button-<%- project.id %>">
					<span class="date"><%- project.index %></span>
					<span class="name"><%- project.name %></span>
				</div>
			</div>
		<% } %>
	<% }) %>
	</div>
</div>



<div class="lightbox blogs">
	<div class="lightbox-x">X</div>
	<div class="lightbox-items-cont">
	<% data.projects.forEach(function(project, index) { %>
		<% if (project.type == "blog") { %>
			<div class="nav-item">
			<a href='<%- project.link %>'>
				<span class="date"><%- project.index %></span>
				<span class="name"><%- project.name %></span>
			</a>
			</div>
		<% } %>
	<% }) %>
	</div>
</div>


<div class="section active" id="maps">
<div class="project-cont">
	<div class="canvas">
		<div class="inner" id="canvas">
		</div>
	</div>
</div>
</div>

<script type="importmap">
	{
		"imports": {
			"three": "./lib/three.module.js",
			"three/addons/": "./lib/jsm/"
		}
	}
</script>
<script type="module" src="lib/script.js"></script>
<script type="module" src="lib/cloth.js"></script>
<script type="module" src="lib/wallmap.js"></script>
<script type="module" src="lib/postcard.js"></script>


